<!DOCTYPE html>
<html>
	<%- include('./partials/head') %>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<header>
				<section id="header">
					
					<h1><a href="/">Bitmode</a></h1>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Inicio</a></li>
							<li><a href="/about">Nosotros</a></li>
							<li><a href="/services">Servicios</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/contact">Contacto</a></li>
						</ul>
					</nav>

					<!-- Banner -->
						<section id="banner404">
							<header>
								<h2>Ops!!! Error 404</h2>
								<p>Pagína no encontrada</p>
							</header>
						</section>
				</section>
			</header>
			
			
			<%- include('./partials/footer') %>

		</div>

	</body>
</html>